In [1]:
# Importing the Libraries

import yfinance as yf

import pandas as pd
import numpy as np

In [2]:
# Starting from Microsoft
msft = yf.Ticker("MSFT")

# get stock info
# print(msft.info)

In [8]:
# get historical market data
hist = msft.history(period="40d")

In [9]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-10,288.248176,288.697329,284.655079,285.892700,18616600,0.0,0
2021-08-11,286.661216,288.108458,285.313789,286.401733,13955900,0.0,0
2021-08-12,286.082339,289.415954,285.792885,289.256256,14561300,0.0,0
2021-08-13,288.926880,292.340328,288.747201,292.290436,18231400,0.0,0
2021-08-16,292.629800,294.256690,289.465843,294.037109,22507600,0.0,0

In [10]:
len(hist.index)

40

In [11]:
hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0.0,0
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0.0,0
2021-10-01,282.119995,289.980011,281.290009,289.100006,30086300,0.0,0
2021-10-04,287.399994,287.750000,280.250000,283.109985,31350700,0.0,0
2021-10-05,284.049988,290.399994,284.049988,288.760010,24960600,0.0,0

In [12]:
df = hist.copy()

In [13]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-10,288.248176,288.697329,284.655079,285.892700,18616600,0.0,0
2021-08-11,286.661216,288.108458,285.313789,286.401733,13955900,0.0,0
2021-08-12,286.082339,289.415954,285.792885,289.256256,14561300,0.0,0
2021-08-13,288.926880,292.340328,288.747201,292.290436,18231400,0.0,0
2021-08-16,292.629800,294.256690,289.465843,294.037109,22507600,0.0,0

In [14]:
df.sort_values(['Date'],ascending=False,inplace=True)

In [15]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-05,284.049988,290.399994,284.049988,288.760010,24960600,0.0,0
2021-10-04,287.399994,287.750000,280.250000,283.109985,31350700,0.0,0
2021-10-01,282.119995,289.980011,281.290009,289.100006,30086300,0.0,0
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0.0,0
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0.0,0

In [16]:
df['Rel Change(%) - 1 day']=round((df['Open']-df['Open'].shift(-1))/df['Open']*100,4)

In [17]:
df['Rel Change(%) - 7 day(1 week)']=round((df['Open']-df['Open'].shift(-7))/df['Open']*100,4)

In [18]:
df['Rel Change(%) - 30 day(1 month)']=round((df['Open']-df['Open'].shift(-30))/df['Open']*100,4)

In [19]:
df.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Rel Change(%) - 1 day,Rel Change(%) - 7 day(1 week),Rel Change(%) - 30 day(1 month)
Date,,,,,,,,,,
2021-10-05,284.049988,290.399994,284.049988,288.760010,24960600,0.0,0,-1.1794,-4.9921,-6.7594
2021-10-04,287.399994,287.750000,280.250000,283.109985,31350700,0.0,0,1.8372,-3.9840,-4.2867
2021-10-01,282.119995,289.980011,281.290009,289.100006,30086300,0.0,0,-1.2725,-5.1787,-2.3288
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0.0,0,0.2135,-3.4931,-2.2155
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0.0,0,-1.6485,-3.9390,-2.3610
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0.0,0,-2.1877,-4.9586,-0.9765
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0.0,0,-0.7057,-2.5731,2.4357
2021-09-24,298.230011,299.799988,296.929993,299.350006,14999000,0.0,0,-0.2079,-1.6866,4.0733
2021-09-23,298.850006,300.899994,297.529999,299.559998,18604600,0.0,0,0.7094,-0.2376,4.0786
2021-09-22,296.730011,300.220001,294.510010,298.579987,26626300,0.0,0,0.3505,-0.2763,2.8584

In [24]:
# Saving as CSV
df.to_csv("msft.csv")