In [2]:
# Importing the Libraries

import yfinance as yf

In [3]:
# Starting from Microsoft
msft = yf.Ticker("MSFT")

# get stock info
# print(msft.info)

In [4]:
# get historical market data
hist = msft.history(period="max")

In [5]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056001,0.064236,0.056001,0.061491,1031788800,0.0,0.0
1986-03-14,0.061491,0.064785,0.061491,0.063687,308160000,0.0,0.0
1986-03-17,0.063687,0.065334,0.063687,0.064785,133171200,0.0,0.0
1986-03-18,0.064785,0.065334,0.062589,0.063138,67766400,0.0,0.0
1986-03-19,0.063138,0.063687,0.061491,0.062040,47894400,0.0,0.0

In [6]:
len(hist.index)

8964

In [7]:
hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0.0,0.0
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0.0,0.0
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0.0,0.0
2021-10-01,282.121704,289.980011,281.290009,289.100006,27682369,0.0,0.0
2021-10-04,287.399994,287.750000,280.250000,283.109985,30181889,0.0,0.0